/* Defining Fonts */
@font-face {
  font-family: Yekan;
  src: url("font/Yekan.eot"), url(font/Yekan.ttf), url(font/Yekan.woff);
  font-weight: normal;
}

@font-face {
  font-family: Titr;
  src: url("font/Titr.eot"), url(font/Titr.ttf), url(font/Titr.woff);
  font-weight: normal;
}

* {
  font-family:  Yekan, Titr, Tahoma !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
    /*direction: rtl;*/
}

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
}

.farsi {
    direction: rtl;
    text-align: right;
}
